*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 10px auto;
    line-height: 2.5rem;
    padding: 0.9rem;
    background-color:  hsl(240, 100%, 5%);
}
.header h3{
    color: whitesmoke;
    font-size: 2.2rem;
    margin-left: 0.5rem;
}
.nav-links{
    display: flex;
    float: right;   
}
.nav-link{
    list-style: none;
    margin-right: 2rem;
    color: whitesmoke;
    font-size: 1.15rem;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

/* Soft orange: hsl(35, 77%, 62%) */